[Unit]
Description=log-forwarder
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=docparser
Group=docparser
WorkingDirectory=/app/log-forwarder
PIDFile=/app/log-forwarder/log-forwarder.pid
ExecStart=/app/log-forwarder/start.sh
ExecStop=/app/log-forwarder/stop.sh
ExecReload=/app/log-forwarder/restart.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
